 <!-- <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div>  -->
     <div class="container">
    <div class="row">
      
        <form name="f"   #f="ngForm" (ngSubmit)="submit(f)">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
            <h4>Please sign in</h4>
            <input type="text" required name="FistName" ngModel  #FistName="ngModel"   class="form-control input-sm chat-input" placeholder="FistName"  /><br>
           
            <div class="btn btn-danger" *ngIf=" FistName.touched && !FistName.valid">

                        <div *ngIf="FistName.errors.required">FistName Required</div>
                         

            </div>

             <!-- <input type="LastName" required name="LastName"  ngModel  #LastName="ngModel"   class="form-control input-sm chat-input"  placeholder="LastName" /><br> -->
             <input type="text" required name="userName" minlength="3" maxlength="6"  ngModel  #userName="ngModel"   class="form-control input-sm chat-input" placeholder="Username" /><br>
                  <div class="btn btn-danger" *ngIf=" userName.touched && !userName.valid">

                        <div *ngIf="userName.errors.required">Username Required</div>
                         <div *ngIf="userName.errors.minlength"> 3 characters needed</div>
                          <div *ngIf="userName.errors.maxlength">6 is the max characters</div>

            </div>
            <!-- <div class="btn btn-danger" *ngIf=" LastName.touched && !LastName.valid">

                        <div *ngIf="LastName.errors.required">LastName Required</div>
                       </div> -->

                    
            <input id="email" required name="email"   ngModel #email="ngModel" placeholder="Email Address" class="form-control input-sm chat-input"><br>
            <div class="btn btn-danger" *ngIf=" email.touched && !email.valid">

                        <div *ngIf="email.errors.required">email is Required</div>
                        <!-- <div ng-message="pattern">Please enter valid email address</div> -->
                       </div>
                     
                        <input type="password" required name="passWord" minlength="8" maxlength="10"  ngModel  #password="ngModel"   class="form-control input-sm chat-input" placeholder="Pass Word"  /><br>
           
            <div class="btn btn-danger" *ngIf=" password.touched && !password.valid">

                        <div *ngIf="password.errors.required">Password Required</div>
                         <div *ngIf="password.errors.minlength"> 8 characters needed</div>
                          <div *ngIf="password.errors.maxlength">10is the max characters</div>

            </div>
                         <input type="number" required  name="phoneNumber" minlength="8" maxlength="10"  ngModel  #phoneNumber="ngModel"   class="form-control input-sm chat-input" placeholder="Phone Number"  /><br>
                         <div class="btn btn-danger" *ngIf=" phoneNumber.touched && !phoneNumber.valid">
                            <div *ngIf="phoneNumber.errors.required">phoneNumber is Required</div>
                            <div *ngIf="phoneNumber.errors.minlength"> 10 digits is  needed</div>
                          <div *ngIf="phoneNumber.errors.maxlength">10is the max digits</div>
                         </div>
            <div class="wrapper">
            <span class="group-btn">     
                <button class="btn btn-primary btn-md" [disabled]="f.invalid" >Submit</button>
            </span>
            </div>
            </div>
        </div>
        </form>
              <!-- {{f.value | json}} -->
             </div>
          

         
